<div class="wrapper">  
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
    </div>  
    <div class="main-panel" style="background-image: linear-gradient(grey, grey), url(./assets/img/ariel-view.jpg); background-repeat: no-repeat;
        background-size: 125%; background-blend-mode: multiply;">
        <div class="content">            
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                            <h5 class="card-title">Upload File</h5>
                            <p class="card-category">Your Description</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label id="example-radio-group-label">Upload your file</label>  
                                    <div class="form-group">
                                        <input #uploadFile type="file" id="uploadFile" accept="application/pdf" (change)="onFileSelected($event)" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label id="example-radio-group-label">Choose your paper type</label>  
                                    <div class="form-group">
                                        <mat-radio-group
                                        aria-labelledby="example-radio-group-label"
                                        class="example-radio-group"
                                        [(ngModel)]="selectedPaperType">
                                        <mat-radio-button class="example-radio-button" *ngFor="let paperType of paperTypes" [value]="paperType"
                                            (change)="onSelectPaperType($event)">
                                            {{paperType}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label id="example-radio-group-label">Choose your ink color</label>
                                    <div class="form-group">
                                        <mat-radio-group
                                        aria-labelledby="example-radio-group-label"
                                        class="example-radio-group"
                                        [(ngModel)]="selectedInkType">
                                        <mat-radio-button class="example-radio-button" *ngFor="let inkType of inkTypes" [value]="inkType" 
                                            (change)="onSelectInkType($event)">
                                            {{inkType}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label id="example-radio-group-label">Binding Type</label>
                                    <div class="form-group">
                                        <mat-radio-group
                                        aria-labelledby="example-radio-group-label"
                                        class="example-radio-group"
                                        [(ngModel)]="selectedBindingType">
                                        <mat-radio-button class="example-radio-button" *ngFor="let bindingType of bindingTypes" [value]="bindingType" 
                                        (change)="onSelectBindingType($event)">
                                            {{bindingType}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label id="example-radio-group-label">Cover Type</label>
                                    <div class="form-group">
                                        <mat-radio-group
                                        aria-labelledby="example-radio-group-label"
                                        class="example-radio-group"
                                        [(ngModel)]="selectedCoverType">
                                        <mat-radio-button class="example-radio-button" *ngFor="let coverType of coverTypes" [value]="coverType" 
                                        (change)="onSelectCoverType($event)">
                                            {{coverType}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label id="example-radio-group-label">Front Only or Front & Back</label>
                                    <div class="form-group">
                                        <mat-radio-group
                                        aria-labelledby="example-radio-group-label"
                                        class="example-radio-group"
                                        [(ngModel)]="selectedPaperFrontBackType">
                                        <mat-radio-button class="example-radio-button" *ngFor="let paperFrontBackType of paperFrontBackTypes" 
                                        [value]="paperFrontBackType" 
                                        (change)="onSelectFrontBack($event)">
                                            {{paperFrontBackType}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-sm-6">                            
                                    <label>Remarks (Optional)</label>
                                    <div class="form-group">
                                        <input matInput [(ngModel)]="message" maxlength="200" placeholder="Add your remarks">
                                        <mat-hint align="end">{{message.length}} / 200</mat-hint>
                                    </div>
                                </div>
                            </div>
                            <div class="row float-right">
                                <div class="col-sm-12">
                                    <button class="btn btn-primary" (click)="onUpload()">Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 240px">
                
            </div>
        </div>
    </div>
</div>
