<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel" style="background-image: linear-gradient(grey, grey), url(./assets/img/ariel-view.jpg); background-repeat: no-repeat;
    background-size: 125%; background-blend-mode: multiply;">
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-success" *ngIf="onOff">
                                        <i class="material-icons">store</i>
                                    </div>
                                    <div class="icon-big text-center icon-danger" *ngIf="!onOff">
                                        <i class="material-icons">do_disturb</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <hr>
                            <div class="stats">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="onOff" (change)="onChange(onOff = !onOff)">
                                    <label class="custom-control-label" for="customSwitch1">{{onOff ? "Shop is Open" : "Shop is Close"}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                        <h5 class="card-title">List of Users</h5>
                        </div>
                        <div class="card-body table-container">
                            <div class="content-center text-center">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Username</th>
                                            <th scope="col">Contact Number</th>
                                            <th scope="col">Sign Up Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of users">
                                            <td>{{ record.username }}</td>
                                            <td>{{ record.contact_number }}</td>
                                            <td>{{ record.signup_date }}</td>
                                            
                                        </tr>
                                    </tbody>
                                </table>                                                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                        <h5 class="card-title">Upload Files</h5>
                        </div>
                        <div class="card-body table-container">
                            <div class="content-center text-center">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Paper Type</th>
                                            <th scope="col">Colored</th>
                                            <th scope="col">Binding</th>
                                            <th scope="col">Paper Front / Back</th>
                                            <th scope="col">Cover Type</th>
                                            <th scope="col">Upload Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Contact Number</th>
                                            <th scope="col">File Path</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of uploadRecords">
                                            <th scope="row">{{ record.id }}</th>
                                            <td>{{ record.paper_type }}</td>
                                            <td>{{ record.colored == 1 ? "Colored" : "Black & White" }}</td>
                                            <td>{{ record.binding == 1 ? "Yes" : "No" }}</td>
                                            <td>{{ record.paper_front_back == 0 ? "Front Only" : "Front & Back" }}</td>
                                            <td>{{ getCover(record.cover_type) }}</td>
                                            <td>{{ record.upload_datetime }}</td>
                                            <td>{{ record.status }}</td>
                                            <td>{{ record.price }}</td>
                                            <td>{{ record.username }}</td>
                                            <td>{{ record.contact_number }}</td>
                                            <td>
                                                <a href="javascript:void(0)" (click)="onDownloadClick(record.file_path)">Click to view the file</a>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary btn-sm" (click)="onCreateOrderClick(record.id, record.paper_type, record.colored, record.binding)">Create</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                        <h5 class="card-title">Booking Orders</h5>
                        </div>
                        <div class="card-body table-container">
                            <div class="content-center text-center">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Start Time</th>
                                            <th scope="col">End Time</th>
                                            <th scope="col">Booking Date</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Contact Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of bookedOrders">
                                            <th scope="row">{{ order.booking_id }}</th>
                                            <td>{{ order.start_time }}</td>
                                            <td>{{ order.end_time }}</td>
                                            <td>{{ order.booking_date }}</td>
                                            <td>{{ order.username }}</td>
                                            <td>{{ order.contact_number }}</td>
                                        </tr>
                                    </tbody>
                                </table>                                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
