
<nav class="navbar navbar-expand-lg fixed-top bg-white" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/']">
                <div class="logo-img">
                    <img src="/assets/img/banner-item-aimst.png"/>
                    <span style="color: #111"></span>
                </div>
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar" style="background-color: #111;"></span>
                <span class="navbar-toggler-bar" style="background-color: #111;"></span>
                <span class="navbar-toggler-bar" style="background-color: #111;"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">               
                <li class="nav-item">                    
                    <p class="btn btn-link btn-default">{{businessOpen ? "SHOP IS OPEN" : "SHOP IS CLOSED"}}</p>
                </li>
                <li class="nav-item" *ngIf="!isLogin">
                    <a [routerLink]="['/signup']" class="btn btn-primary btn-round">Sign Up</a>
                </li>
                <li class="nav-item" *ngIf="!isLogin">
                    <a [routerLink]="['/login']" class="btn btn-primary btn-round">Login</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/']" class="btn btn-primary btn-round">Home</a>
                </li>
                <li class="nav-item" *ngIf="isLogin">
                    <a (click)="logout()" class="btn btn-primary btn-round">Log Out</a>
                </li>
                <!-- <li class="nav-item">
                    <div ngbDropdown class="dropdown" placement="bottom-left">                        
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle style="color: #111">
                            <i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                            <a class="dropdown-item">Action - 1</a>
                            <a class="dropdown-item">Another Action</a>
                            <a class="dropdown-item">Something else is here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Separated link</a>
                        </div>
                    </div>
                </li> -->
                <li class="nav-item">
                    <div ngbDropdown class="dropdown" placement="bottom-left">
                        <mat-icon ngbDropdownToggle style="color: #111; top: 20px; left: 10px;" matBadge="{{notificationCount}}" id="dropdownBasic1" matBadgeColor="warn">notifications</mat-icon>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                            <a class="dropdown-item" *ngIf="isLogin && roleId == 1" routerLink="admin">Admin Page</a>
                            <a class="dropdown-item" *ngIf="isLogin && roleId == 0" routerLink="dashboard">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a [routerLink]="['/components']" class="dropdown-item">Documentation</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>