<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/banner-item-aimst.png"/>
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="side-nav" *ngIf="!isLogin">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <ul class="side-nav" *ngIf="isLogin && roleId == 1">
        <li class="nav-item">
            <a class="nav-link" routerLink="admin">
                <i class="material-icons">admin_panel_settings</i>
                <p>Admin Page</p>
            </a>
        </li>
    </ul>
    <ul class="side-nav" *ngIf="isLogin && roleId == 0">        
        <li class="nav-item">
            <a class="nav-link" routerLink="../dashboard">
                <i class="material-icons">face</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item" *ngIf="isLogin && roleId == 0">
            <a class="nav-link" routerLink="../booking-order">
                <i class="material-icons">bookmark_add</i>
                <p>Booking Order</p>
            </a>
        </li>
        <li class="nav-item" *ngIf="isLogin && roleId == 0">
            <a class="nav-link" routerLink="../upload-file">
                <i class="material-icons">file_upload</i>
                <p>Upload File</p>
            </a>
        </li>
    </ul>
    <ul class="side-nav">
        <li class="nav-item" >
            <a class="nav-link" routerLink="/">
                <i class="material-icons">home</i>
                <p>Home</p>
            </a>
        </li>
    </ul>
    <ul class="side-nav">
        <li class="nav-item" >
            <a class="nav-link" href="javascript:void(0)" (click)="onOpenModal(modalNotification)">
                <i class="material-icons" matBadge={{notificationCount}}>notifications</i>
                <p>Notifications</p>
            </a>
        </li>
    </ul>
    <ul class="side-nav">
        <li class="nav-item" >
            <a class="nav-link" (click)="logout()">
                <i class="material-icons">logout</i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>

<ng-template #modalNotification let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center">Notifications</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" *ngFor="let notification of notificationList">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                    <label>{{notification.notification_datetime}}</label>
                    </div>
                    <div class="card-body table-container">
                        {{notification.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>