<app-navbar></app-navbar>
<div class="wrapper">    
    <div class="page-header section-dark" style="background-image: url('assets/img/ariel-view.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1>Welcome to AIMST Printing Services</h1>
                </div>
            </div>
            <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        </div>
    </div>
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">Our Services</h2>
                        <h5 class="description">AIMST University's printing shop provides services to assist in managing students' assignment and other project printings.</h5>
                        <br>
                        <a href="#paper-kit" class="btn btn-danger btn-round">Sign Up Here!</a>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-watch-time"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Time Booking</h4>
                                <p class="description">Students are welcome to book a time here to use the available computers in the shop.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-share-66"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">File Upload</h4>
                                <p>Have some documents to print? Upload your document here so that we can manage your printings.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>    
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-single-copy-04"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Good Quality Printing</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-satisfied"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Excellent Service</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-user-run"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Efficient</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Visit Us</h2>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="info">
                        <div class="icon icon-danger">
                        </div>
                        <div class="description">
                            <img src="https://edufair.fsi.com.my/img/sponsor/36/resize/707dd2a2bba14f36348c80ec7a784141.jpeg" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info">
                        <div class="icon icon-danger">
                        </div>
                        <div class="description">
                            <img src="https://www.aimst.edu.my/wp-content/uploads/2019/09/Printing-Photocopy-Shop.jpg" height="485" >

                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>    
    <hr>
    <app-footer></app-footer>
</div>
