<div class="wrapper">    
    <div class="page-header section-dark" style="background-image: url('assets/img/ariel-view.jpg')">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register bg-primary">
                        <h3 class="title">Welcome {{username}}</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="main">
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      
                  </div>
              </div>
          </div>
      </div>
    </div> -->
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
</div>
