<div class="wrapper"> 
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel" style="background-image: linear-gradient(grey, grey), url(./assets/img/ariel-view.jpg); background-repeat: no-repeat;
        background-size: 125%; background-blend-mode: multiply;">
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <img src="https://www.nicepng.com/png/full/136-1366211_group-of-10-guys-login-user-icon-png.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-title">Username: {{username}}</p>
                                        <p class="card-category">Contact: {{contactNo}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                        <h5 class="card-title">Upload Files</h5>
                        </div>
                        <div class="card-body table-container">
                            <div class="content-center text-center">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Paper Type</th>
                                            <th scope="col">Colored</th>
                                            <th scope="col">Binding</th>
                                            <th scope="col">Paper Front / Back</th>
                                            <th scope="col">Cover Type</th>
                                            <th scope="col">Upload Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">File Path</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of uploadRecords">
                                            <th scope="row">{{ record.id }}</th>
                                            <td>{{ record.paper_type }}</td>
                                            <td>{{ record.colored == 1 ? "Colored" : "Black & White" }}</td>
                                            <td>{{ record.binding == 1 ? "Yes" : "No" }}</td>
                                            <td>{{ record.paper_front_back == 0 ? "Front Only" : "Front & Back" }}</td>
                                            <td>{{ getCover(record.cover_type) }}</td>
                                            <td>{{ record.upload_datetime }}</td>
                                            <td>{{ record.status }}</td>
                                            <td>{{ record.price }}</td>
                                            <td>
                                                <a href="javascript:void(0)" (click)="onDownloadClick(record.file_path)">Click to view the file</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <div class="d-flex justify-content-between p-2">
                                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                                    </ngb-pagination>
                                    
                                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                                        <option [ngValue]="2">2 items per page</option>
                                        <option [ngValue]="4">4 items per page</option>
                                        <option [ngValue]="6">6 items per page</option>
                                    </select>
                                    </div>     -->                                                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                        <h5 class="card-title">Booking Orders</h5>
                        </div>
                        <div class="card-body table-container">
                            <div class="content-center text-center">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Start Time</th>
                                            <th scope="col">End Time</th>
                                            <th scope="col">Booking Date</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of bookedOrders">
                                            <th scope="row">{{ order.booking_id }}</th>
                                            <td>{{ order.start_time }}</td>
                                            <td>{{ order.end_time }}</td>
                                            <td>{{ order.booking_date }}</td>
                                            <td>
                                                <button class="btn btn-danger btn-sm" (click)="onDeleteBookingDate()">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>                                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
