.table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}

.section-white {
    background-color: #FFFFFF;
}

.section-container {
    position: relative;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
}
