<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h3>AIMST University Printing</h3>
                <p>Batu 3 1/2, Bukit Air Nasi,</p>
                <p>Jalan Bedong—Semeling</p>
                <p>08100 Bedong, Kedah, Malaysia.</p>
            </div>
            <div class="col-3">
                <br>
                <div class="row">
                    <i class="material-icons">phone</i>
                    <p>012-22222222</p>
                </div>
                <br>
                <div  class="row">
                    <i class="material-icons">mail</i>
                    <p>printing@aimst.edu.my</p>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.aimst.edu.my/">About AIMST</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Jo
                </span>
            </div>
        </div>
    </div>
</footer>
